<!DOCTYPE html>
<html>
    <head>
        <title>姓名案例——插值语法实现</title>
        <!-- 引入Vue -->
        <script src="../js/vue.js"></script>
    </head>
    <body>
        <div id="main">
            姓：<input type="text" v-model="firstName"> <br><br>
            名：<input type="text" v-model="lastName"> <br><br>
            全名：<span>{{firstName}}-{{lastName}}</span>
        </div>
        <script type="text/javascript">
            // 阻止vue在启动时生成生产提示
            Vue.config.productionTip = false;
            // 创建Vue实例
            var vm = new Vue({
                el: '#main',
                data: {
                    firstName: '张',
                    lastName: '三'
                }
            })
        </script>

    </body>
</html>